{
  "tasks": [
{% for vessel_task in vessel_tasks %}
    {
      "name": "vessel_task",
      "module": "{{ vessel_tasks_modules[vessel_task] }}",
      "enabled": {{ vessel_tasks[vessel_task].enabled | default(vessel_tasks_default_schedule) }},
      "scheduled": {{ vessel_tasks[vessel_task].enabled | default(vessel_tasks_default_schedule) }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}
