---
# tasks file for Vessel
- name: Ensure the Vessel Namespace exists.
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ vessel_nsname }}"
    state: present

- name: Create Vessel Pod.
  kubernetes.core.k8s:
    state: present
    resource_definition:
      apiVersion: v1
      kind: Pod
      metadata:
        name: vessel
        namespace: "{{ vessel_nsname }}"
        labels:
          app: vessel
      spec:
        containers:
          - name: vessel
            image: sourcesense/vessel:latest
            ports:
              - containerPort: 8089
            env:
              - name: K8S_URL
                value: "{{ vessel_k8s_url }}"
              - name: K8S_TOKEN
                value: "{{ vessel_k8s_token }}"
              - name: INSECURE
                value: "{{ vessel_insecure | string }}"
              - name: NAMESPACES
                value: "{{ vessel_namespaces | join(',')}}"
              - name: TOOLS
                value: "{{ vessel_tools | join(',') }}"
        restartPolicy: Always

- name: Create Vessel service.
  kubernetes.core.k8s:
    state: present
    resource_definition:
      apiVersion: v1
      kind: Service
      metadata:
        name: vessel-service
        namespace: "{{ vessel_nsname }}"
      spec:
        ports:
        - port: 80
          protocol: TCP
          targetPort: 8089
        selector:
          app: vessel

- name: Create Vessel ingress.
  kubernetes.core.k8s:
    state: present
    resource_definition:
      apiVersion: networking.k8s.io/v1
      kind: Ingress
      metadata:
        name: vessel-ingress
        namespace: "{{ vessel_nsname }}"
        # This is a breaking change coming from ingress-nginx 1.0 you MUST pass annotations.
        # See: https://robearlam.com/blog/nginx-ingress-breaking-change-ingress.class-now-required
        annotations:
          kubernetes.io/ingress.class: "{{ vessel_ingress_class }}"
      spec:
        rules:
        - host: "{{ vessel_ingress_host }}"
          http:
            paths:
            - pathType: Prefix
              path: /
              backend:
                service:
                  name: vessel-service
                  port:
                    number: 80
  when:
    - vessel_ingress_enable | bool
